<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<h3>Customer</h3>
<p>
    <a th:href="@{/}">Back to list</a>
</p>
<div id="form">
    <form th:object="${customer}" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{email}">
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{address}">
        </div>
    </form>
    <footer th:replace="layout :: footer"/>
</div>
</body>
</html>